<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App Backened</title>
</head>
<body>
    <center>
        <h1>Welcome To Notes App</h1>
        <h2>Written: NodeJS</h2>
        <h2>Author: Mustak</h2>
    </center>    
</body>
<style>
    body{
    padding: 20px;
    background-color: rgb(33, 42, 51);
    color: whitesmoke;
    font-family: sans-serif;
}
</style>
</html>